/* mobile first */
/* Changing the font-family and removing margins and paddings */

body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* Both containers css */

#left_container, #right_container{
    width: 100%;
    min-height: 600px;
    display: block;
    position: relative;
    /* text-align: center; */
    /* margin: auto; */
}

/* left side */

#left_container{
    background-image: url(../assets/task_background.jpg);
    background-size: cover;
    overflow: hidden;
    /* color:rgb(207, 71, 71) */
    color: rgb(55, 152, 177);
}

/* How to use the app */

#explanation{
    background-color: #222d;
    position: absolute;
    padding: 20px;
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

#t1{
    text-align: center;
    font-size: 1.7rem;
}

#p1{
    text-align: justify;
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.7em;
}

#p2{
    text-align: center;
    font-weight: bold;    
    font-size: 1.3rem;
}

#t2{
    text-align: left;
    margin-left: 25px;
    margin-top: 0;
    padding-top: 30px;
    color: white;
}

/* right side */

#right_container{
    /* background-color: #eeed; */
    background-color: #111;
}

/* List part */

/* input that adds the task to the task list */

#task{
    text-align: center;
    margin-left: 20px;
    margin-bottom: 20px;
    width: 76%;
    height: 30px;
    border-radius: 5px;
    font-size: 1rem;
}

#add{
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    /* background-color: rgb(211, 46, 46);
    color: white; */
    background-color: rgb(41, 41, 41);
    color: rgb(28, 108, 128);
    border-radius: 4px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 3px 5px;
}

/* remove icon from explanation */

#remove_icon{
    width: 30px;
    height: 30px;
    line-height: 28px;
    display: inline-block;
    /* background-color: rgb(211, 46, 46);
    color: white; */
    background-color: rgb(41, 41, 41);
    color: rgb(28, 108, 128);
    border-radius: 4px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

#task_list{
    list-style: none;
}

/* list item */

#task_list li{
    display: inline-block;
    position: relative;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: -19px;
    width: 89%;
    border-radius: 5px;
    /* background-color: rgb(211, 46, 46); */
    background-color: rgb(28, 108, 128);
    color: white;
    line-height: 34px;
}

/* actual remove icon */

.remove_item{
    width: 30px;
    height: 30px;
    line-height: 25px;
    font-weight: bold;
    display: inline-block;
    position: absolute;
    right: 0;
    -ms-transform: translate(135%,-15%);
    -moz-transform: translate(135%,-15%);
    transform: translate(135%,-15%);
    /* background-color: rgb(211, 46, 46); */
    background-color: rgb(41, 41, 41);
    color: rgb(28, 108, 128);
    border-radius: 4px;
    text-align: center;
    font-size: 1.5rem;
    margin: 7px 6px;
}

#delete_all{
    display: inline-block;
    position: relative;
    text-align: center;
    margin: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 120px;
    border-radius: 5px;
    /* background-color: rgb(211, 46, 46); */
    background-color: rgb(28, 108, 128);
    color: white;
    line-height: 40px;
}

@media (min-width: 325px){
    #task{
        width: 80%;
    }
    #task_list li{
        width: 91%;
    }
}

@media (min-width: 385px){
    #task{
        width: 82%;
    }
    #task_list li{
        width: 91%;
    }
}

@media (min-width: 490px){
    #task{
        width: 85%;
    }
    #task_list li{
        width: 91%;
    }
}

@media (min-width: 750px){
    #task{
        width: 88%;
    }
    #task_list li{
        width: 88%;
    }
}

@media (min-width: 840px){
    #explanation{
        width: 100%;
    }
    #p1{
        text-align: center;
    }
}
@media (min-width: 960px){
    #left_container{
        float:left;
        width: 50%;
        height: 100vh;
    }
    #explanation{
        width: 100%;
        padding-right: 20px;
        box-sizing: border-box;
    }
    #right_container{
        float: left;
        width: 50%;
        height: 100vh;
        padding-top: 15%;
        padding-left: 15px;
        box-sizing: border-box;
    }
}